/*-----------google fonts---------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*-----------Variable Css---------*/
:root{
    /*-----------font---------*/
    --body-font: 'Poppins', sans-serif;
    /*-----------font size---------*/   
    --hearder-height: 3rem; 
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*-----------font weight---------*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*-----------margins bottoms---------*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}

*{
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #171718;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-font-size);
    background-color: #171718;
    color: #fff;
}

h1,h2,h3,h4{
    color: #fff;
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(pictures/background.2.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 10rem;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;   
    height: 3px;
    background: #325f96;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 25px;
}

.header-text h1{
    font-size: 70px;
    margin-top: 20px;
}

.header-text h3{
    font-size: var(--big-font-size);
}

.header-text h1 span {
    color: #325f96;
}

.header-text ul{
    color: #325f96;
    font-size: 45px;
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
}

.header-text ul a:link{
    text-decoration: none;
}

.header-text ul a:visited{
    color: #325f96;
}

.header-text ul a:hover{
    text-decoration: none;
    color: #22446d;
}

.header-text ul a:active{
    text-decoration: none;
}

.button{
    display: inline-block;
    position: center;
    top: 250px;
    background-color: #325f96;
    color: #fff;
    padding: 20px 40px;
    border-radius: 25px;
    font-weight: var(--font-medium);
    transition-duration: 0.4s;
    cursor: pointer;
}
.button a:link { 
    text-decoration: none; 
}

.button:hover { 
    text-decoration: none; 
    background-color: #22446d;
    color: #fff;
}

.button a:visited{
    color: #fff;
}

.button a:active { 
    text-decoration: none; 
}
 
/*--------------------about--------------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 25px;
}
.about-col-2{
    flex-basis: 60%;
    text-align: center;
    font-size: 20px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.about-buttons{
    display: inline-block;
    position: relative;
    top: 60px;
    width: 250px;
    background-color: #325f96;
    color: #fff;
    padding: 40px 20px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;
}

.about-buttons a:link { 
    text-decoration: none; 
    color: #fff;
}

.about-buttons:hover { 
    text-decoration: none; 
    background-color: #22446d;
    color: #fff;
}

.about-buttons a:visited{
    color: #fff;
}

.about-buttons a:active { 
    text-decoration: none; 
}

/*--------------------skills--------------------*/
#skills{
    padding: 30px 0;
}

.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50pxS;
}
